In [1]:
import requests
import pandas as pd
from tqdm import tqdm

In [2]:
USER_AGENT = 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) ' \
             'Chrome/104.0.5112.124 YaBrowser/22.9.4.863 Yowser/2.5 Safari/537.36'

In [2]:
JOB_TITLE = 'python backend разработчик'
URL = 'https://api.hh.ru/vacancies'

# Собираем вакансии Python Backend dev

In [19]:
def number_of_pages(url: str, job_title: str, per_page=100) -> int:
    '''
    Получаем количество страниц с вакансиями
    '''
    param = {'text': job_title, 'per_page': per_page}
    req = requests.get(url, params=param)
    return req.json()['pages']

In [4]:
def get_job_id(url: str, job_title: str, per_page=100) -> list:
    '''
    Функция возвращает список id вакансий с названием job_title
    '''
    job_id = []
    pages = number_of_pages(url, job_title, per_page)
    for page in tqdm(range(pages)):
        param = {'text': job_title, 'per_page': per_page, 'page': page}
        req = requests.get(url, params=param)
        vacancies = req.json()
        for vac in vacancies.get('items'):
            job_id.append(vac.get('id'))
    return job_id

In [5]:
python_dev_job_id = get_job_id(URL, JOB_TITLE)

100%|████████████████████████████████████████████████████████████████████████████████████| 9/9 [00:06<00:00,  1.38it/s]

In [10]:
len(python_dev_job_id)

890

In [14]:
list_vacs = []
for id in tqdm(python_dev_job_id):
    url_2 = f'https://api.hh.ru/vacancies/{id}'
    r_2 = requests.get(url_2)
    one_vac = r_2.json()
    list_vacs.append(one_vac)

100%|████████████████████████████████████████████████████████████████████████████████| 890/890 [03:37<00:00,  4.09it/s]

In [17]:
df_vacancies = pd.DataFrame(list_vacs)
df_vacancies.head()

,id,premium,billing_type,relations,name,insider_interview,response_letter_required,area,salary,type,...,suitable_resumes_url,apply_alternate_url,has_test,test,alternate_url,working_days,working_time_intervals,working_time_modes,accept_temporary,languages
0,71675473,False,"{'id': 'standard_plus', 'name': 'Стандарт плюс'}",[],Разработчик Python,None,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...","{'from': 120000, 'to': 200000, 'currency': 'RU...","{'id': 'open', 'name': 'Открытая'}",...,None,https://hh.ru/applicant/vacancy_response?vacan...,False,None,https://hh.ru/vacancy/71675473,[],[],[],False,[]
1,72034802,False,"{'id': 'standard_plus', 'name': 'Стандарт плюс'}",[],Backend-разработчик jun+/mid- (Golang),None,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...","{'from': 100000, 'to': 400000, 'currency': 'RU...","{'id': 'open', 'name': 'Открытая'}",...,None,https://hh.ru/applicant/vacancy_response?vacan...,False,None,https://hh.ru/vacancy/72034802,[],[],[],True,[]
2,71905950,False,"{'id': 'standard_plus', 'name': 'Стандарт плюс'}",[],Junior/Middle Python Developer (Backend) - раз...,None,False,"{'id': '4', 'name': 'Новосибирск', 'url': 'htt...","{'from': 60000, 'to': 100000, 'currency': 'RUR...","{'id': 'open', 'name': 'Открытая'}",...,None,https://hh.ru/applicant/vacancy_response?vacan...,False,None,https://hh.ru/vacancy/71905950,[],[],[],False,[]
3,72002637,False,"{'id': 'standard_plus', 'name': 'Стандарт плюс'}",[],Разработчик бэкэнд (Python),None,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...","{'from': 150000, 'to': None, 'currency': 'RUR'...","{'id': 'open', 'name': 'Открытая'}",...,None,https://hh.ru/applicant/vacancy_response?vacan...,False,None,https://hh.ru/vacancy/72002637,[],[],[],False,[]
4,71673823,False,"{'id': 'standard_plus', 'name': 'Стандарт плюс'}",[],Backend-разработчик,None,False,"{'id': '66', 'name': 'Нижний Новгород', 'url':...","{'from': 200000, 'to': None, 'currency': 'RUR'...","{'id': 'open', 'name': 'Открытая'}",...,None,https://hh.ru/applicant/vacancy_response?vacan...,False,None,https://hh.ru/vacancy/71673823,[],[],[],False,[]

In [21]:
df_vacancies.columns

Index(['id', 'premium', 'billing_type', 'relations', 'name',
       'insider_interview', 'response_letter_required', 'area', 'salary',
       'type', 'address', 'allow_messages', 'experience', 'schedule',
       'employment', 'department', 'contacts', 'description',
       'branded_description', 'vacancy_constructor_template', 'key_skills',
       'accept_handicapped', 'accept_kids', 'archived', 'response_url',
       'specializations', 'professional_roles', 'code', 'hidden',
       'quick_responses_allowed', 'driver_license_types',
       'accept_incomplete_resumes', 'employer', 'published_at', 'created_at',
       'initial_created_at', 'negotiations_url', 'suitable_resumes_url',
       'apply_alternate_url', 'has_test', 'test', 'alternate_url',
       'working_days', 'working_time_intervals', 'working_time_modes',
       'accept_temporary', 'languages'],
      dtype='object')

In [20]:
col_filter = ['id', 'name', 'area', 'salary', 'experience', 'schedule', 'employment', 'key_skills', 'employer', 
              'working_days', 'working_time_intervals', ]

,id,premium,billing_type,relations,name,insider_interview,response_letter_required,area,salary,type,...,suitable_resumes_url,apply_alternate_url,has_test,test,alternate_url,working_days,working_time_intervals,working_time_modes,accept_temporary,languages
count,890,890,890,890,890,26,890,890,295,890,...,0,890,890,29,890,890,890,890,890,890
unique,880,2,4,1,644,6,2,74,172,2,...,0,880,2,2,880,2,2,2,2,11
top,71775300,False,"{'id': 'standard', 'name': 'Стандарт'}",[],Senior/Lead Python-разработчик,"{'id': '29700', 'url': 'https://hh.ru/intervie...",False,"{'id': '1', 'name': 'Москва', 'url': 'https://...","{'from': 150000, 'to': None, 'currency': 'RUR'...","{'id': 'open', 'name': 'Открытая'}",...,NaN,https://hh.ru/applicant/vacancy_response?vacan...,False,{'required': False},https://hh.ru/vacancy/66223779,[],[],[],False,[]
freq,2,887,737,890,20,20,870,396,10,889,...,NaN,2,861,15,2,889,870,874,801,746

In [39]:
df_vacancies.loc[3, 'employer']

{'id': '4068348',
 'name': 'АНО Инфокультура',
 'url': 'https://api.hh.ru/employers/4068348',
 'alternate_url': 'https://hh.ru/employer/4068348',
 'logo_urls': {'original': 'https://hhcdn.ru/employer-logo-original/649083.png',
  '90': 'https://hhcdn.ru/employer-logo/3037480.png',
  '240': 'https://hhcdn.ru/employer-logo/3037481.png'},
 'vacancies_url': 'https://api.hh.ru/vacancies?employer_id=4068348',
 'trusted': True}